<h5>&nbsp;&nbsp;{{username}} -> Shopping Cart</h5>
<p>&nbsp;&nbsp;&nbsp;UserId: {{userid}}</p>
<div class="dashboard">
	{{#each product}}
		{{#if _id}}
			<div class="row">
				<div class="card col s3">
					<div
						class="card-image waves-effect waves-block waves-light"
					>
						<img
							class="activator"
							src="http://localhost:3000/images/{{image}}"
						/>
					</div>
					<div class="card-content">
						<span
							class="card-title activator grey-text text-darken-4"
						>{{name}}<i
								class="material-icons right"
							>more_vert</i></span>
						<p><a href="#">Buy Me</a>&nbsp;&nbsp;&nbsp;<span>
								<form action="/admin/remove/cart" method="post">
									<button
										class="btn red darken-3"
										name="cart"
										value="{{userId}}"
									>DELETE</button>
								</form></span></p>

					</div>
					<div class="card-reveal">
						<span
							class="card-title grey-text text-darken-4"
						>Category:
							{{category}}<i
								class="material-icons right"
							>close</i></span>
						<p>Price $: {{price}}</p>
						<p>Description: {{description}}</p>
					</div>
				</div>
			</div>
		{{/if}}
	{{/each}}
</div>